body{
    height:50px;
    background-image:url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
     opacity : 0.8/* Resize the background image to cover the entire container */
}